body {
    background-color: rgb(15, 15, 194);
}

.header {
    font-family: 'Anton', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #887e7e;
    font-size: 50px;
    text-align: center;
    align-content: stretch;
}

.monies {
    border-style: solid;
    border-width: 4px;
    border-color: palegoldenrod;
    padding: 5px;
    align-content: stretch;
    
}

.categories {
    display: flex;
    flex-wrap: wrap;
    font-size: 27px;
    justify-content: space-between;
    font-family: 'Abril Fatface', cursive;
    color: rgb(219, 200, 28);
    padding: 10px;
    margin: 5px;
}

.twohundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.fourhundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.eighthundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.sixhundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.thousand {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.box {
    border-style: solid;
    border-width: 4px;
    border-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
}

.dissapear {
    opacity: 0;
}

.show {
    display: block;
}

.players {
    flex-direction: row;
    display: inline;
    flex-wrap: wrap;
    padding: 5px;
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: palegoldenrod;
    justify-content: space-between;
}

.playerone.playertwo {
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline;
}

#questionContainer {
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    font-size: 40px;
    flex-direction: column;
}

button {
    -moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
	background:-moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:-ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23',GradientType=0);
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}

.names {
    background: gray;
}






/* font-family: 'Anton', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Righteous', cursive; */