body {
    background-color: rgb(15, 15, 194);
}

.header {
    font-family: 'Anton', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #887e7e;
    font-size: 50px;
    text-align: center;
    align-content: stretch;
}

.monies {
    border-style: solid;
    border-width: 4px;
    border-color: palegoldenrod;
    padding: 5px;
    align-content: stretch;
    
}

.categories {
    display: flex;
    flex-wrap: wrap;
    font-size: 27px;
    justify-content: space-between;
    font-family: 'Abril Fatface', cursive;
    color: rgb(219, 200, 28);
    padding: 10px;
    margin: 5px;
}

.twohundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.fourhundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.eighthundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.sixhundy {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.thousand {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    font-family: 'Righteous', cursive;
    color: rgb(219, 200, 28);
    font-size: 25px;
    justify-content: space-between;
}

.box {
    border-style: solid;
    border-width: 4px;
    border-color: palegoldenrod;
    padding: 10px;
    margin: 5px;
}

.players {
    flex-direction: row;
    display: inline;
    flex-wrap: wrap;
    padding: 5px;
    align-content: stretch;
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
    color: palegoldenrod;
    justify-content: space-between;
}

.playerone.playertwo {
    align-content: flex-start;
    flex-direction: row;
    flex-wrap: nowrap;
    display: inline;
}





/* font-family: 'Anton', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Righteous', cursive; */